* {
    margin: 0;
    padding: 0;
  }
  .cloud{
    height: 409px;
  width: 1560px;
  margin-top: -285px;
  
  }

  .moon{
    height: 415px;
    width: 464px;
    margin-left: 919px;
  }
  .theV{
    margin-top: -639px;
    padding: 242px;
    position: relative;
    font-size: 7em;
  }
  
  .theV2{
    margin-top: -416px;
    margin-left: 114px;
    position: relative;
    font-size: 2em;
    width: 1330px;
    overflow: hidden;
  }
  .wings{
    height: 470px;
width: 1536px;
overflow: hidden;
  }

  .house{
    height: 598px;
width: 1543px;
margin-top: -585px;
  }

  .box {
    height: 390px;
    width: 1551px;
    position: relative;
    margin-top: 20px;
    right: 4px;
  overflow: hidden;
   
  }

  @media screen and (max-width: 600px) {
  
    .cloud{
      height: 429px;
      width: 800px;
      margin-top: -311px;
    }
  
    .moon{
      height: 200px;
      width: 189px;
      margin-left: 226px;
    }
    .theV{
      margin-top: -311px;
padding: 63px;
position: relative;
font-size: 2em;
width: 275px;
height: 183px;
    }
    
    .theV2{
      margin-top: -416px;
      margin-left: 13px;
      position: relative;
      font-size: 1em;
      width: 390px;
      overflow: hidden;
      height:268px;
    }
    }
    .wings{
      height: 470px;
  width: 1536px;
  overflow: hidden;
    }
  
    .house{
      height: 598px;
      width: 421px;
      margin-top: -621px;
    
    }
  
    .box {
      height: 390px;
      width: 1551px;
      position: relative;
      margin-top: 20px;
      right: 4px;
    overflow: hidden;
     
    } 
  